Created by RESHETNIKOV Ruslan

In [1]:
import numpy as np
import pandas as pd
import requests
import json

Download population data for Toronto from the website: https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show

In [66]:
url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show"
params = { "id": "6e19a90f-971c-46b3-852c-0c48c436d1fc"}
package = requests.get(url, params = params).json()
 
for idx, resource in enumerate(package["result"]["resources"]):
    if resource["datastore_active"]:
        url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/datastore_search"
        p = { "id": resource["id"] }
        data = requests.get(url, params = p).json()
        df = pd.DataFrame(data["result"]["records"])
        break

In [67]:
df.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,n/a,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,n/a,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

Let's leave only the data on the population in 2016.

In [68]:
new_df = df.iloc[2, 6:146] 
new_df.reset_index()

                            index       2
0                 Agincourt North  29,113
1    Agincourt South-Malvern West  23,757
2                       Alderwood  12,054
3                           Annex  30,526
4               Banbury-Don Mills  27,695
..                            ...     ...
135                      Wychwood  14,349
136                Yonge-Eglinton  11,817
137                Yonge-St.Clair  12,528
138       York University Heights  27,593
139            Yorkdale-Glen Park  14,804

[140 rows x 2 columns]

Next, we add to the data extracted from Foursquare, which we received last week.

I will try to calculate the number of restaurants per 1000 people. In this way, we will be able to identify areas with a large and small concentration of restaurants. Areas with a small concentration of restaurants are more attractive to investors.